extends layout

block content
  h3 Controller #{config.host}
  h5 Status
    table.table.table-bordered
      if controller.awaiting_registration || controller.awaiting_grid
        tr
          th Registration delay (seconds):
          td= !!controller.awaiting_registration * (Date.now() - controller.awaiting_registration) / 1000
        tr
          th Grid delay (seconds):
          td= !!controller.awaiting_grid * (Date.now() - controller.awaiting_grid) / 1000
      else
        tr
          td OK

  h5 Machines
  table.table.table-bordered
    tr
      th IP/port
      th CPUs
      th Total memory
    each ports,host in hosts
      each hash,port in ports
        if hash.type == 'foreman'
          tr
            td= host + ":" + port
            td= hash.hardware.cpus
            td= Math.round(hash.hardware.totalmem / (1024 * 1024)) + "MB"


  h5 Workers
  table.table.table-bordered
    tr
      th IP/port
      th Roles
      th Status
    each ports,host in hosts
      each hash,port in ports
        if hash.type == 'worker'
          tr
            td= host + ":" + port
            td= hash.roles.map(function (x) {return x[0]}).join(', ')
            td= hash.status

  h5 Health
  table.table.table-bordered
    tr
      th IP/port
      th Health
    each ports,host in hosts
      each hash,port in ports
        if hash.type == 'worker'
          tr
            td= host + ":" + port
            td
              pre= JSON.stringify(hash.health, null, 2)

  h5 Network analysis
  table.table.table-bordered
    tr
      th IP/port
      th Network analysis
    each ports,host in hosts
      each hash,port in ports
        if hash.type == 'worker'
          tr
            td= host + ":" + port
            td
              pre= JSON.stringify(network_analyses[host + ":" + port], null, 2)

  h5 Bottleneck analysis
  table.table.table-bordered
    tr
      th IP/port
      th Bottleneck factors
    each ports,host in hosts
      each hash,port in ports
        if hash.type == 'worker'
          tr
            td= host + ":" + port
            td
              pre= JSON.stringify(bottlenecks[host + ":" + port], null, 2)

  h5 Grid state
  pre= JSON.stringify(hosts, null, 2)
