extends layout

block content
  h3 Controller #{config.host}
  h5 Status
    table.table.table-bordered
      if controller.awaiting_registration || controller.awaiting_grid
        tr
          th Registration delay (seconds):
          td= !!controller.awaiting_registration * (Date.now() - controller.awaiting_registration) / 1000
        tr
          th Grid delay (seconds):
          td= !!controller.awaiting_grid * (Date.now() - controller.awaiting_grid) / 1000
      else
        tr
          td OK

  h5 Machines
  table.table.table-bordered
    tr
      th IP/port
      th CPUs
      th Total memory
    each ports,host in hosts
      each hash,port in ports
        if hash.type == 'foreman'
          tr
            td= host + ":" + port
            td= hash.hardware.cpus
            td= Math.round(hash.hardware.totalmem / (1024 * 1024)) + "MB"


  h5 Workers
  table.table.table-bordered
    tr
      th IP/port
      th Roles
      th Bottleneck factors
      th Health
    each ports,host in hosts
      each hash,port in ports
        if hash.type == 'worker'
          tr
            td= host + ":" + port
            td= JSON.stringify(hash.roles)
            td= JSON.stringify(bottlenecks[host])
            td= JSON.stringify(hash.health)
