extend layout
block content
  each host, ip in grid.hosts
    h3= ip
    table.table
      each hash, port in host
        tr
          td= hash.type
          td= port
          td= hash.status
          td= hash.file
          td= hash.roles
          td= hash.health

      
